#header01 {
    width: 963px;
    margin: auto;

}

#header01_logo {
    float: left;
}

#header01_info {
    float: right;
    width: 500px;
    height: 80px;
    /* position: relative; */
}

#header01_01 {
    float: left;
    width: 160px;
    height: 80px;
}

#header01_01 p{
/* 	position : absolute;
	bottom : 0; */
    margin: 25% auto;
}

#header01_02 {
    float: left;
    width: 120px;
    height: 80px;
}




#header01_info p{
	font-size: 5px;
}

#changeBtn {
	list-style: none;
}


#header01_02 p{
    margin: 20px 0 0 auto;
}


#fontSizeS a {
    float: left;
    margin: 15px 5px 5px 5px;
    padding: 0;
    width: 20px;
    height: 20px;
    display: block;
    background-image: url("../images/fontsize_s.png");
    background-repeat: no-repeat;
}

#fontSizeS a:hover {
    background-image: url("../images/fontsize_s_on.png");
}

#fontSizeS a:focus {
    background-image: url("../images/fontsize_s_on.png");
}


#fontSizeM a {
    float: left;
    margin: 10px 5px 5px auto;
    padding: 0;
    width: 25px;
    height: 25px;
    display: block;
    background-image: url("../images/fontsize_m.png");
}

#fontSizeM a:hover {
    background-image: url("../images/fontsize_m_on.png");
}

#fontSizeM a:focus {
    background-image: url("../images/fontsize_m_on.png");
}

#fontSizeL a {
    float: left;
    margin: 5px 5px 5px auto;
    padding: 0;
    width: 30px;
    height: 30px;
    display: block;
    background-image: url("../images/fontsize_l.png");
}

#fontSizeL a:hover{
    background-image: url("../images/fontsize_l_on.png");
}

#fontSizeL a:focus{
    background-image: url("../images/fontsize_l_on.png");
}


#header02 {
    clear: both;
    float: bottom;
    width: max;
    background-image: url("../images/gnavi_bg.png"/);
    border-bottom: solid;
    border-color: #1e205d;
}

#header01_03 {
    float: left;
    width: 200px;
    text-align: center;
}

#haader01_03_1 {
    float: top;
}


.header01_03_gs a {
    float: left;
    margin: 10px;
    width: 86px;
    height: 19px;
    display: block;
    background-image: url("../images/globalsite.png");
}

.header01_03_gs a:hover {
    background-image: url("../images/globalsite_hover.png");
}

.header01_03_sm a {
    float: left;
    margin: 10px;
    width: 74px;
    height: 19px;
    display: block;
    background-image: url("../images/sitemap.png");
}

.header01_03_sm a:hover {
    background-image: url("../images/sitemap_hover.png");
}



#header_01_03_2{
	clear: both;
	float: bottom;
}

dl.search{
    position:relative;
    background-color:#ffffff;
    border:1px solid #1e205d;
}
dl.search dt{
    margin-right:25px;
}
dl.search dt input{
    height:28px;
    line-height:20px;
    background:none;
    border:none;
}
dl.search dd{
    position:absolute;
    top:0;
    right:0;
}
dl.search dd button{
    display:block;
    background:none;
    border:none;
}
dl.search dd button span{
    display:block;
    width:28px;
    height:28px;
    background:url('../images/search_btn.jpg') no-repeat scroll 0 0;
}


#header02 {
    margin: auto;
    background-image: url("../images/gnavi_bg.png");
}


nav ul {
	margin: auto;
	width: 963px;
    overflow: hidden;
}


/*
nav ul li{
	float: left;
	width: 180px;
	list-style-type: none;
}
*/

nav ul li#nav01,
nav ul li#nav02,
nav ul li#nav04,
nav ul li#nav05 {
    float: left;
    width: 180px;
    list-style-type: none;
}

nav ul li#nav03 {
    float: left;
    width: 240px;
    list-style-type: none;
}

nav ul li a {
    overflow: hidden;
    display: block;
    padding-top: 40px;
    height: 0px;
}

#nav01 a {
    display: block;
    background-image: url("../images/navi.png");
    background-position: 0 -40px;
}

#nav01 a:hover {
    background-image: url("../images/navi.png");
    background-position: 0 80px;
}

#nav02 a {
    display: block;
    background-image: url("../images/navi.png");
    background-position: -180px -40px;
}

#nav02 a:hover {
    background-image: url("../images/navi.png");
    background-position: -180px 80px;
}

#nav03 a {
    display: block;
    background-image: url("../images/navi.png");
    background-position: -360px -40px;
}

#nav03 a:hover {
    background-image: url("../images/navi.png");
    background-position: -360px 80px;
}

#nav04 a {
    display: block;
    background-image: url("../images/navi.png");
    background-position: -600px -40px;
}

#nav04 a:hover {
    background-image: url("../images/navi.png");
    background-position: -600px 80px;
}

#nav05 a {
    display: block;
    background-image: url("../images/navi.png");
    background-position: -780px -40px;
}

#nav05 a:hover {
    background-image: url("../images/navi.png");
    background-position: -780px 80px;
}
