#main {
    width: 704px;
    float: left;
}

#main01{
    border: 1px;
    border-style: solid;
    border-width: medium;
    border-color: #1e205d;
    width: 650px;
    margin: 10px auto;
}

#slide{
    width: 650px;
    height: 300px;
}

#slideBtn{
    width: max;
    height: 95px;
    margin: 0;
    background-color: #1e205d;
    text-align: center;
}

#slideBtn ul{
    overflow: hidden;
    padding: 18px 10px;
    list-style-type: none;
}

#slideBtn ul li{
    float: left;
    width: 33%;
    height: 60px;
}


#slideBtn ul li a{
    overflow: hidden;
    display: block;
    padding-top: 60px;
    height: 0;
    margin: auto 4px;
}

ul #slide1 a{
    background-image:  url("../images/thum_1.jpg");
    background-repeat: no-repeat;
}

ul #slide2 a{
    background-image:  url("../images/thum_2.jpg");
    background-repeat: no-repeat;
}

ul #slide3 a{
    background-image:  url("../images/thum_3.jpg");
    background-repeat: no-repeat;
}


#main02{
    width: 680px;
    margin: 10px auto 20px auto;
}

.main02_box1 {
    border: 1px;
    border-style: solid;
    border-width: medium;
    border-color: #1e205d;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    margin: 10px 0  0 -1px;
    width: 676px;
    height: 100px;
}

.main02_box2 {
    border: 1px;
    border-style: solid;
    border-width: medium;
    border-color: #1e205d;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    margin: 10px 0  0 -1px;
    width: 676px;
    height: 75px;
}

#main02 p {
    color: #ffffff;
    background-color: #1e205d;
    height: 32px;
    font-size: 18px;
    padding-left: 10px;
}


#main02 ul {
    margin: 10px 0 0 0;
    list-style-image: url("../images/list_head.gif");
}


#main02 ul li {
    float: left;
    width: 30%;
}


#main02 ul li:nth-child(3n+1) {
    margin: 0 0 0 35px;
}

#main02 ul li:nth-child(3n-1) {
    margin: 0 2%;
}

#main03{
    width: 680px;
    margin: 0 auto;
}

#tabcontrol ul {
    overflow: hidden;
    height: 50px;
}

#tabcontrol ul li {
    float: left;
    list-style-type: none;
    width: 25%;
}

#tabbody div {
    border: 1px solid;
    border-top: none;
    margin-top: -5px;

    /* 上側にあるタブと1pxだけ重ねるために「-1px」を指定 */
    padding: 1em;
    position: relative;
    /* z-indexを調整するために必要 */
    z-index: 0;
    /* 重なり順序を「最も背面」にするため */
    background-color: #ffffff;
}

#tabbody ul li {
    padding: 0 0 0 250px;
    list-style-type: none;
    text-indent: -250px;
    text-decoration: none;
}


#tabbody ul li time {
    display: inline-block;
    width: 250px;
    text-indent: 0px;
}

.tabC1 a {
    padding-top: 45px;
    display: block;
    background-image: url("../images/tab01_off.png");
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 1;
    border-bottom: solid;
}

.tabC1 a:hover {
    background-image: url("../images/tab01.png");
}

.tabC1 a:focus {
    background-image: url("../images/tab01_on.png");
    border-bottom: none;
}


.tabC2 a {
    padding-top: 45px;
    display: block;
    background-image: url("../images/tab02_off.png");
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: solid;
}

.tabC2 a:hover {
    background-image: url("../images/tab02.png");
}

.tabC2 a:focus {
    background-image: url("../images/tab02_on.png");
    border-bottom: none;
}


.tabC3 a {
    padding-top: 45px;
    display: block;
    background-image: url("../images/tab03_off.png");
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: solid;
}

.tabC3 a:hover {
    background-image: url("../images/tab03.png");
}

.tabC3 a:focus {
    background-image: url("../images/tab03_on.png");
    border-bottom: none;
}

.tabC4 a {
    padding-top: 45px;
    display: block;
    background-image: url("../images/tab04_off.png");
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: solid;
}

.tabC4 a:hover {
    background-image: url("../images/tab04.png");
}

.tabC4 a:focus {
    background-image: url("../images/tab04_on.png");
    border-bottom: none;
}


#tabcontrol a:hover {
    text-decoration: underline;
}



.tab2 {
    background-image: url("../images/category_07.png");
    background-repeat: no-repeat;
    background-position: 140px 0;
}

.tab3 {
    background-image: url("../images/category_08.png");
    background-repeat: no-repeat;
    background-position: 140px 0;
}

.tab4 {
    background-image: url("../images/category_09.png");
    background-repeat: no-repeat;
    background-position: 140px 0;
}