/*全体設定*/

* {
    margin: 0;
    padding: 0;
    position: center;
    text-decoration: none;
}

/*上部設定*/

#header {
    height: 124px;
   /* width: 1343px; */
    width: max;
    margin: auto;
}

/*main設定*/

#body {
    height: 1390px;
    width: 963px;
    margin: auto;
    background-color: #ffffff;
}

#body_bg {
    height: 100%;
    width: 100%;
    background-image: url("../images/main_bg.jpg");
    background-size: auto 100%;
}


/*下部設定*/

#footer {
    clear: both;
    background-color: #fff8cc;
    height: 489px;
    /* width: 1343px; */
    width: max;
    background-image: url("../images/footer_bg.jpg");
    background-size: width auto;
    background-repeat: no-repeat;
    background-position: center;
}

#main {
    width: 704px;
    float: left;
}


#headerArea {
    width: 963px;
    margin: auto;
}

#headerArea_logo {
    float: left;
}

#headerArea_info {
    float: right;
    width: 500px;
    height: 80px;
}

#headerArea_code {
    float: left;
    width: 160px;
    height: 80px;
}

#headerArea_code p{
    margin-top: 25%;
}

#headerArea_fontSize {
    float: left;
    width: 120px;
    height: 80px;
}

#headerArea_info p{
    font-size: 5px;
}

#changeBtn {
    list-style: none;
}


#headerArea_fontSize p{
    margin: 20px 0 0 auto;
}


#fontSizeS a {
    float: left;
    margin: 15px 5px 5px 5px;
    padding: 0;
    width: 20px;
    height: 20px;
    display: block;
    background-image: url("../images/fontsize_s.png");
    background-repeat: no-repeat;
}

#fontSizeS a:hover {
    background-image: url("../images/fontsize_s_on.png");
}

#fontSizeS a:focus {
    background-image: url("../images/fontsize_s_on.png");
}


#fontSizeM a {
    float: left;
    margin: 10px 5px 5px auto;
    padding: 0;
    width: 25px;
    height: 25px;
    display: block;
    background-image: url("../images/fontsize_m.png");
}

#fontSizeM a:hover {
    background-image: url("../images/fontsize_m_on.png");
}

#fontSizeM a:focus {
    background-image: url("../images/fontsize_m_on.png");
}

#fontSizeL a {
    float: left;
    margin: 5px 5px 5px auto;
    padding: 0;
    width: 30px;
    height: 30px;
    display: block;
    background-image: url("../images/fontsize_l.png");
}

#fontSizeL a:hover{
    background-image: url("../images/fontsize_l_on.png");
}

#fontSizeL a:focus{
    background-image: url("../images/fontsize_l_on.png");
}

#headerArea_form {
    float: left;
    width: 200px;
    text-align: center;
}

#form_map {
    float: top;
}


.headerArea_form_gs a {
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    width: 92px;
    height: 19px;
    display: block;
    background-image: url("../images/globalsite.png");
    background-repeat: no-repeat;
    border-right:1px solid #999;
    padding-right: 5px;
}

.headerArea_form_gs a:hover {
    background-image: url("../images/globalsite_hover.png");
}

.headerArea_form_sm a {
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    width: 92px;
    height: 19px;
    display: block;
    background-image: url("../images/sitemap.png");
    background-repeat: no-repeat;
}

.headerArea_form_sm a:hover {
    background-image: url("../images/sitemap_hover.png");
}



#from_search{
    clear: both;
    float: bottom;
}

dl.search{
    position:relative;
    background-color:#ffffff;
    border:1px solid #1e205d;
}
dl.search dt{
    margin-right:25px;
}
dl.search dt input{
    height:28px;
    line-height:20px;
    background:none;
    border:none;
}
dl.search dd{
    position:absolute;
    top:0;
    right:0;
}
dl.search dd button{
    display:block;
    background:none;
    border:none;
}
dl.search dd button span{
    display:block;
    width:28px;
    height:28px;
    background:url('../images/search_btn.jpg') no-repeat scroll 0 0;
}

#navigation {
    clear: both;
    background-image: url("../images/gnavi_bg.png");
    border-bottom: solid;
    border-color: #1e205d;
}



nav ul {
    margin: auto;
    width: 963px;
    overflow: hidden;
}


nav ul li#nav01,
nav ul li#nav02,
nav ul li#nav04,
nav ul li#nav05 {
    float: left;
    width: 180px;
    list-style-type: none;
}

nav ul li#nav03 {
    float: left;
    width: 240px;
    list-style-type: none;
}

nav ul li a {
    overflow: hidden;
    display: block;
    padding-top: 40px;
    height: 0px;
}

#nav01 a {
    display: block;
    background-image: url("../images/navi.png");
    background-position: 0 -40px;
}

#nav01 a:hover {
    background-image: url("../images/navi.png");
    background-position: 0 80px;
}

#nav02 a {
    display: block;
    background-image: url("../images/navi.png");
    background-position: -180px -40px;
}

#nav02 a:hover {
    background-image: url("../images/navi.png");
    background-position: -180px 80px;
}

#nav03 a {
    display: block;
    background-image: url("../images/navi.png");
    background-position: -360px -40px;
}

#nav03 a:hover {
    background-image: url("../images/navi.png");
    background-position: -360px 80px;
}

#nav04 a {
    display: block;
    background-image: url("../images/navi.png");
    background-position: -600px -40px;
}

#nav04 a:hover {
    background-image: url("../images/navi.png");
    background-position: -600px 80px;
}

#nav05 a {
    display: block;
    background-image: url("../images/navi.png");
    background-position: -780px -40px;
}

#nav05 a:hover {
    background-image: url("../images/navi.png");
    background-position: -780px 80px;
}

#main {
    width: 704px;
    float: left;
}

#main_slide{
    border: 1px;
    border-style: solid;
    border-width: medium;
    border-color: #1e205d;
    width: 650px;
    height: 395px;
    margin: 10px auto;
}

.slide {
  margin: 0 auto;
  color: #333;

  width: 650px;
/*     position: relative; */

}






.slider_thumb{
    height: 95px;
    padding-left: 10px;
    padding-right: 10px;
    padding: 20px 13px 13px 20px;
    background-color: #1e205d;
    text-align: center;
}


#main_contents{
    width: 680px;
    margin: 10px auto 20px auto;
}

.contents_box1 {
    border: 1px;
    border-style: solid;
    border-width: medium;
    border-color: #1e205d;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    margin: 10px 0  0 -1px;
    width: 676px;
    height: 100px;
}

.contents_box2 {
    border: 1px;
    border-style: solid;
    border-width: medium;
    border-color: #1e205d;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    margin: 10px 0  0 -1px;
    width: 676px;
    height: 75px;
}

#main_contents p {
    color: #ffffff;
    background-color: #1e205d;
    height: 32px;
    font-size: 18px;
    padding-left: 10px;
}


#main_contents ul {
    margin: 10px 0 0 0;
    list-style-image: url("../images/list_head.gif");
}


#main_contents ul li {
    float: left;
    width: 30%;
}


#main_contents ul li:nth-child(3n+1) {
    margin: 0 0 0 35px;
}

#main_contents ul li:nth-child(3n-1) {
    margin: 0 2%;
}

#main_tab{
    width: 680px;
    margin: 0 auto;
}

#tabcontrol ul {
    overflow: hidden;
    height: 50px;
}

#tabcontrol ul li {
    float: left;
    list-style-type: none;
    width: 25%;
}

#tabbody div {
    border: 1px solid;
    border-color: #999;
    border-top: none;
    margin-top: -5px;

    /* 上側にあるタブと1pxだけ重ねるために「-1px」を指定 */
    padding: 1em;
    position: relative;
    /* z-indexを調整するために必要 */
    z-index: 0;
    /* 重なり順序を「最も背面」にするため */
    background-color: #ffffff;
}

#tabbody ul li {
    padding: 0 0 0 250px;
    list-style-type: none;
    text-indent: -250px;
    text-decoration: none;
}


#tabbody ul li time {
    display: inline-block;
    width: 250px;
    text-indent: 0px;
}

.tabC1 a {
    padding-top: 45px;
    display: block;
    background-image: url("../images/tab01_off.png");
    /* background-repeat: no-repeat; */
    background-size: 100%;
    z-index: 1;
    border-bottom: solid;
}

.tabC1 a:hover {
    background-image: url("../images/tab01.png");
}

.tabC2 a {
    padding-top: 45px;
    display: block;
    background-image: url("../images/tab02_off.png");
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: solid;
}

.tabC2 a:hover {
    background-image: url("../images/tab02.png");
}

.tabC3 a {
    padding-top: 45px;
    display: block;
    background-image: url("../images/tab03_off.png");
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: solid;
}

.tabC3 a:hover {
    background-image: url("../images/tab03.png");
}

.tabC4 a {
    padding-top: 45px;
    display: block;
    background-image: url("../images/tab04_off.png");
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: solid;
}

.tabC4 a:hover {
    background-image: url("../images/tab04.png");
}

#tabcontrol a:hover {
    text-decoration: underline;
}

.tab2 {
    background-image: url("../images/category_07.png");
    background-repeat: no-repeat;
    background-position: 140px 0;
}

.tab3 {
    background-image: url("../images/category_08.png");
    background-repeat: no-repeat;
    background-position: 140px 0;
}

.tab4 {
    background-image: url("../images/category_09.png");
    background-repeat: no-repeat;
    background-position: 140px 0;
}


#sub {
    width: 259px;
    height: 1390px;
    float: right;
    text-align: center;
}

#sub_login p,#sub_login a{
    font-size: 8px;
}

#sub p.topic {
    color: #ffffff;
    background-color: #1e205d;
    font-size: 18px;
    font-weight: bold;
}

#sub_login {
    margin: 10px;
    border: 1px;
    border-style: solid;
    border-width: medium;
    border-color: #1e205d;
}


#sub_contents {
    margin: 10px;
    height: 400px;
    border: 1px;
    border-style: solid;
    border-width: medium;
    border-color: #1e205d;
}


.sub_contents1 a{
    margin: 10px auto;
    width: 213px;
    height: 51px;
    display: block;
    background-image:  url("../images/annai_01.png");
}
.sub_contents1 a:hover {
    background-image: url("../images/annnai_01.png");
}

.sub_contents2 a{
    margin: 10px auto;
    width: 213px;
    height: 51px;
    display: block;
    background-image:  url("../images/annai_02.png");
}
.sub_contents2 a:hover {
    background-image: url("../images/annnai_02.png");
}

.sub_contents3 a{
    margin: 10px auto;
    width: 213px;
    height: 51px;
    display: block;
    background-image:  url("../images/annai_03.png");
}
.sub_contents3 a:hover {
    background-image: url("../images/annnai_03.png");
}

.sub_contents4 a{
    margin: 10px auto;
    width: 213px;
    height: 51px;
    display: block;
    background-image:  url("../images/annai_04.png");
}
.sub_contents4 a:hover {
    background-image: url("../images/annnai_04.png");
}

.sub_contents5 a{
    margin: 10px auto;
    width: 213px;
    height: 51px;
    display: block;
    background-image:  url("../images/annai_05.png");
}
.sub_contents5 a:hover {
    background-image: url("../images/annnai_05.png");
}

.sub_contents6 a{
    margin: 10px auto;
    width: 213px;
    height: 51px;
    display: block;
    background-image:  url("../images/annai_06.png");
}
.sub_contents6 a:hover {
    background-image: url("../images/annnai_06.png");
}

#sub_other ul li{
    list-style-type: none;
    margin: 10px auto;
}

#footerArea{
    width: 963px;
    height: 340px;
    margin: auto;
}

#footerArea ul{
    width: 100%;
    list-style-position: inside;
}




.footer_box {
    float: left;
    color: #ffffff;
    width: 20%;
    margin-top: 100px;
    margin-bottom: 50px;
}


.footer_box p {
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 10px;
}

.footer_box ul {
    list-style-type: circle;
    color: #ffffff;
    width: 200px;
    margin-bottom: 50px;
}

.footer_box ul li{
    margin-bottom: -2px;
    font-size: 12px;
}


#footerArea a{
    color: #ffffff;
    text-decoration: underline;
}



#footer_navi {
    clear: both;
    overflow: hidden;
    width: max;
    height: 40px;
    background-color: #ffffff;
    text-align: center;
    font-size: 14px;
}

#footer_navi ul{
    padding-top: 8px;
    width: 963px;
    margin: auto;
}

#footer_navi ul li {
    list-style-type: none;
    display: inline-block;
    background-color: #ffffff;
    border-left:1px solid #999;
    padding-left: 8px;
    
}

#footer_navi ul li+li+li+li+li{
    border-right:1px solid #999;
    padding-right: 8px;
}

#footer_navi a:link {
    color: #4e9fa3;
}

#footer_navi a:visited {
    color: #3d7b7e;
}

address {
    color: #ffffff;
    text-align: center;
    margin: 10px 0;
}