
#sub {
    width: 259px;
    height: 1390px;
    float: right;
    text-align: center;
}

#sub01 p,a{
	font-size: 8px;
}

#sub p.topic {
    color: #ffffff;
    background-color: #1e205d;
    font-size: 18px;
    font-weight: bold;
}

#sub01 {
	margin: 10px;
    border: 1px;
    border-style: solid;
    border-width: medium;
    border-color: #1e205d;
}


#sub02 {
	margin: 10px;
	height: 400px;
    border: 1px;
    border-style: solid;
    border-width: medium;
    border-color: #1e205d;
}


.sub02_01 a{
	margin: 10px auto;
	width: 213px;
	height: 51px;
	display: block;
	background-image:  url("../images/annai_01.png");
}
.sub02_01 a:hover {
    background-image: url("../images/annnai_01.png");
}

.sub02_02 a{
	margin: 10px auto;
	width: 213px;
	height: 51px;
	display: block;
	background-image:  url("../images/annai_02.png");
}
.sub02_02 a:hover {
    background-image: url("../images/annnai_02.png");
}

.sub02_03 a{
	margin: 10px auto;
	width: 213px;
	height: 51px;
	display: block;
	background-image:  url("../images/annai_03.png");
}
.sub02_03 a:hover {
    background-image: url("../images/annnai_03.png");
}

.sub02_04 a{
	margin: 10px auto;
	width: 213px;
	height: 51px;
	display: block;
	background-image:  url("../images/annai_04.png");
}
.sub02_04 a:hover {
    background-image: url("../images/annnai_04.png");
}

.sub02_05 a{
	margin: 10px auto;
	width: 213px;
	height: 51px;
	display: block;
	background-image:  url("../images/annai_05.png");
}
.sub02_05 a:hover {
    background-image: url("../images/annnai_05.png");
}

.sub02_06 a{
	margin: 10px auto;
	width: 213px;
	height: 51px;
	display: block;
	background-image:  url("../images/annai_06.png");
}
.sub02_06 a:hover {
    background-image: url("../images/annnai_06.png");
}

#sub03 ul li{
	list-style-type: none;
	margin: 10px auto;
}